# LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="ls__your_langsmith_api_key_here"
LANGCHAIN_PROJECT="Hackathon_Day5_E06_C401"

# OpenAI
OPENAI_API_KEY="sk-your_openai_api_key_here"
